### Control Flow Statements :
* Control flow statements control the flow of statemts during the execution phase( PVM has control).
* there are three types of control flow statements.
      * selection statements / conditional statements
      * iterative statements
      * interruptive statements

### Selection statements :
* Selection statements control the flow based on condition(output of conditional statement).
       * if<condition>
       * if<condition>...else
       * if<condition>.....elif<condition>.....else
       * Nested if condition
       * inline if / if comprehension

In [4]:
# if <condition> :
#     <state1>
#     <state2>
#     <state3>

In [ ]:
# greatest of 2 numbers

In [5]:
n1 = int( input("Enter First Number : ") )
n2 = int( input("Enter Second Number : ") )

if (n1 >= n2) :
    print(n1)

if (n2 >= n1) :
    print(n2)

Enter First Number : 100
Enter Second Number : 150
150

In [ ]:
# voting example

In [9]:
age = int(input("Enter Your Age : "))

if age >= 18:
    print("Eligible for Voting ")

if age < 18 :
    print("Not eligible")

Enter Your Age : 17
Not eligible

In [10]:
# if<condition>...else

In [11]:
age = int(input("Enter Your Age : "))

if True: 
    print("Eligible for Voting ")
else :
    print("Not eligible")

Enter Your Age : 18
Eligible for Voting

In [12]:
avg = int(input("Enter your Marks : "))

if avg >= 35:
    print("Pass")
else :
    print("Fail")

Enter your Marks : 36
Pass

In [13]:
#  if<condition>.....elif<condition>.....else

In [ ]:
# student grade example

In [16]:
avg = int(input("Enter your Marks : "))


if (avg >= 75) :
    print("Grade A")
    
elif  (avg >=50 and avg < 75) :
    print("Grade B")
    
elif (avg>=35 and avg < 50) :
    print("Grade C")

else :
    print("Fail")

Enter your Marks : 67
Grade B

In [ ]:
# employee designation example

In [17]:
desg = input("Enter Employee Designation : ")
sal = int(input("Enter Employee Salary : "))

desg = desg.upper()

if desg == 'PROJECT MANAGER' :
    print("Hike is 20%")
    hikeamount = sal * 0.2
    hikedsal = sal + hikeamount
    print("Original Salary : ",sal)
    print("Hiked Salary : ",hikedsal)
    
elif desg == 'TECHNICAL MANAGER':
    print("Hike is 18%")
    hikeamount = sal * 0.18
    hikedsal = sal + hikeamount
    print("Original Salary : ",sal)
    print("Hiked Salary : ",hikedsal)
    
elif desg == 'DEVELOPER':
    print("Hike is 16%")
    hikeamount = sal * 0.16
    hikedsal = sal + hikeamount
    print("Original Salary : ",sal)
    print("Hiked Salary : ",hikedsal)

elif desg == "TESTER" :
    print("Hike is 15%")
    hikeamount = sal * 0.15
    hikedsal = sal + hikeamount
    print("Original Salary : ",sal)
    print("Hiked Salary : ",hikedsal)

else :
    print("Hike is 12%")
    hikeamount = sal * 0.12
    hikedsal = sal + hikeamount
    print("Original Salary : ",sal)
    print("Hiked Salary : ",hikedsal)

Enter Employee Designation : Developer
Enter Employee Salary : 50000
Hike is 16%
Original Salary :  50000
Hiked Salary :  58000.0

In [18]:
# Nested if Condition - Employee Example

In [19]:
desg = input("Enter Employee Designation : ")
exp = int(input("Enter Employee Experience : "))
sal = float(input("Enter Employee Salary : "))

desg = desg.upper()

print(desg)
print(exp)
print(sal)

print("****************************************")

if desg == "PROJECT MANAGER" :
    
        print("GOOD MORNING",desg)
        
        if exp >= 15 :
            print("Hike is 25%") 
            hamount = sal * 0.25
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)

        elif (exp >= 10 and exp < 15) :
            print("Hike is 22%") 
            hamount = sal * 0.22
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)

        else : 
            print("Hike is 20%") 
            hamount = sal * 0.20
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)
            

elif desg == "TECHNICAL MANAGER" :
    
        print("WELCOME TO TECHNICAL MANAGER BLOCK ")
        
        
        if exp >= 15 :
            print("Hike is 22%") 
            hamount = sal * 0.22
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)
            
        elif (exp >= 10 and exp < 15) :
            print("Hike is 20%") 
            hamount = sal * 0.20
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)
        
        else :
            print("Hike is 18%") 
            hamount = sal * 0.18
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)
            
            
elif desg == "DEVELOPER" :
            
            print("WELCOME TO DEVELOPER BLOCK ")
            
            if exp >= 6 : 
                
                    print("Hike is 18%") 
                    hamount = sal * 0.18
                    hikedsal = sal + hamount
                    print("Original Salary : ",sal)
                    print("Hiked Amount : ", hamount)
                    print("Hiked Salary : ", hikedsal)
                    
            elif exp >= 4 and exp < 6 :
                    print("Hike is 17%") 
                    hamount = sal * 0.17
                    hikedsal = sal + hamount
                    print("Original Salary : ",sal)
                    print("Hiked Amount : ", hamount)
                    print("Hiked Salary : ", hikedsal)
                    
            else : 
                
                    print("Hike is 15%") 
                    hamount = sal * 0.15
                    hikedsal = sal + hamount
                    print("Original Salary : ",sal)
                    print("Hiked Amount : ", hamount)
                    print("Hiked Salary : ", hikedsal)


else :
     
            print("Hike is 12%") 
            hamount = sal * 0.12
            hikedsal = sal + hamount
            print("Original Salary : ",sal)
            print("Hiked Amount : ", hamount)
            print("Hiked Salary : ", hikedsal)

Enter Employee Designation : Technical Manager
Enter Employee Experience : 13
Enter Employee Salary : 100000
TECHNICAL MANAGER
13
100000.0
****************************************
WELCOME TO TECHNICAL MANAGER BLOCK
Hike is 20%
Original Salary :  100000.0
Hiked Amount :  20000.0
Hiked Salary :  120000.0

#### Inline if Condition :
* single line if condition is called is inline if
* very elegant and fast in execution and complete if condition will be in one line

In [21]:
avg  = int(input("Enter Your Marks : "))

if avg >= 50 :
    print("Passed")
else :
    print("Failed")
    
print("_______________________________________________")

res = "PASSED" if avg >= 50 else "FAILED" 
print(res)

print("_______________________________________________")

print( "PASSED" if avg >= 50 else "FAILED"  )

Enter Your Marks : 45
Failed
_______________________________________________
FAILED
_______________________________________________
FAILED

In [22]:
avg1 = int(input("Enter Your Marks : "))

if avg1 >= 80 :
    print("Grade A")
elif (avg1 >= 60  and avg1 < 80) :
    print("Grade B")
else :
    print("Grade C")
    
    
print("******************************************************")

res1 ="GRADE A" if avg1 >= 80 else ("GRADE B" if avg1 >=60 and avg1 < 80 else "GRADE C")
print(res1)

Enter Your Marks : 78
Grade B
******************************************************
GRADE B

In [23]:
res1 ="GRADE A" if avg1 >= 80 else ("GRADE B" if avg1 >=60 and avg1 < 80 else "GRADE C")
print(res1)

GRADE B

In [24]:
# Greatest of Three Numbers

In [26]:
num1  = int(input("Enter First Number : "))
num2 = int(input("Enter Second Number : "))
num3 = int(input("Enter Third Number : "))

if num1 >= num2  and num1 >= num3 :
    print(num1,"is Greatest ")
    
elif num2 >= num3:
    print(num2,"is Greatest")
  
else:
    print(num3,"is Greatests")
    
print("****************************************************")

res3 = num1 if (num1 >= num2 and num1 >= num3) else (num2 if num2 >= num3 else num3)
print(res3,"is Greatest")

Enter First Number : 100
Enter Second Number : 56
Enter Third Number : 102
102 is Greatests
****************************************************
102 is Greatest

In [27]:
res3 = num1 if (num1 >= num2 and num1 >= num3) else (num2 if num2 >= num3 else num3)
print(res3,"is Greatest")

102 is Greatest

### Iterative Statements : 
* it is a process of executing block of code repeatedly until a condition is satisfied.
* Definite loop :(for loop)
     * a loop which is executed finite number of times
     * in this the number of iterations are predefined
* Indefinite loop :(while loop)
     * a loop which is executed infinite number of times
     * in this the number of iterations are not predefined

#### While Loop

In [31]:
# fabonacci series from 1 to 10

In [35]:
x = 0
y = 1
z = x+y
print(x)
print(y)
while(z<=10):
    x=y
    y=z
    z=x+y
    print(z)

0
1
2
3
5
8
13

In [36]:
# table printing

In [37]:
num = int(input("enter table number : "))
i = 1
while(i<=10):
    print(num ,"*",i,"=",(num*i))
    i+=1

enter table number : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### for loop :
* specially designed to extract data from sequential data type
* syntax :
       for <iterator> in <iterable> :
               print(<iterator>)
* iterator : it is an object which acts like an agent in extracting data from sequential data type(iterable)
* iterable : it is an object on which a process of iteration is performed

In [39]:
num = int(input("Enter a Table number : "))

for i in range(1,11):
    print(x,"*",i,"==",(x*i) )

Enter a Table number : 5
5 * 1 == 5
5 * 2 == 10
5 * 3 == 15
5 * 4 == 20
5 * 5 == 25
5 * 6 == 30
5 * 7 == 35
5 * 8 == 40
5 * 9 == 45
5 * 10 == 50

## Interruptive statements :
* these statements are used to interrupt the flow of execution.
   * break
   * pass
   * continue

In [43]:
# printing numbers upto given range

num = int(input("enter number range : "))
i = 1
while True :
    if i<=num:
        print(i)
        i+=1
    else :
        break

enter number range : 6
1
2
3
4
5
6

In [44]:
# print numbers upto 10 except 7

for i in range(1,10):
    if i==7:
        continue
    else :
        print(i)

1
2
3
4
5
6
8
9

In [45]:
for i in range(5):
    pass
print("welcome")

welcome

In [46]:
for i in range(1,10):
    if i==7:
        exit()
    else :
        print(i)

1
2
3
4
5
6
8
9