## Sequential Data Type :
* it holds multiple heterogenous values stored in series of internal memory location indentified with index.
* types of squential data type :
        * list
        * tuple
        * set 
        * dictionary

## List :
* it is a sequential data type which holds multiple heterogenous values , these values are enclosed in square brackets.the values inside the square brackets are referred as elements.

## Features of List :
* holds multiple heterogenous values
* duplicates are allowed
* mutable( changable )
* order is preserved ( order initially will not change until we explicitly change )
* indexing & slicing is possible
* nesting is possible

In [5]:
color = ["red" , "black" , "pink" , "yellow" , "orange"]

In [6]:
type(color)

list

In [11]:
color1 = ["red" , "black" , "pink" , "yellow" , "orange" , "red"] # duplicates are allowed

In [12]:
type(color1)

list

In [13]:
color1.append("green") # changable
color1

['red', 'black', 'pink', 'yellow', 'orange', 'red', 'green']

In [14]:
color[3] # positive indexing

'yellow'

In [15]:
color[-2] # negative indexing

'yellow'

In [16]:
nlist = ["Blue",[10,20,30],"Pink",["A","B","C"],"Yellow"] # nesting ids possible

In [17]:
type(nlist)

list

## CRUD operations:
* create
* read
* update
* delete

### Creation of list :
* we can create a list in 3 ways :
    * manual way
    * using list function
    * automated way

### manual way :

In [2]:
l1 = ["apple" , 67 , 90 , "hello"]

In [3]:
type(l1)

list

In [19]:
color

['red', 'black', 'pink', 'yellow', 'orange']

### Using list()

In [22]:
clr = list(("red" , "pink" , "yellow" , "blue"))

In [23]:
clr

['red', 'pink', 'yellow', 'blue']

In [24]:
type(clr)

list

In [25]:
s = "INDIA"

In [26]:
s1 = list(s)

In [27]:
s1

['I', 'N', 'D', 'I', 'A']

In [28]:
type(s1)

list

### Automated way

In [6]:
# generating cubes from 1 to 5

cube_list = []
for i in range(1,6):
    cube = i**3
    cube_list.append(cube)
    
print(cube_list)

[1, 8, 27, 64, 125]

### Nested List

In [30]:
nlist = ["Blue",[10,20,30],"Pink",["A","B","C"],"Yellow"]

In [31]:
type(nlist)

list

In [33]:
# counting the number of elements inside a nested list

c = 0
for i in nlist:
    if type(i)==list:
        for j in i:
            c+=1
    else:
        c+=1
        
print(c)

9

### Read Data from List :
* we can read the data inside the list using :
     * for loop # specially designed to extract data from sequential data types.
     * indexing
     * slicing

#### using for loop

In [39]:
 l1 = [10 , "hello" , 56.0 , True]

In [36]:
type(l1)

list

In [37]:
for i in l1 :
    print(i)

10
hello
56.0
True

#### using indexing

In [42]:
l1

[10, 'hello', 56.0, True]

In [43]:
l1[2]

56.0

In [44]:
l1[-3]

'hello'

In [45]:
l1[0]

10

#### using slicing

In [47]:
l1

[10, 'hello', 56.0, True]

In [48]:
l1[:]

[10, 'hello', 56.0, True]

In [49]:
l1[:3]

[10, 'hello', 56.0]

In [51]:
l1[3:1:-1]

[True, 56.0]

### Updating the List :
* Inserting a Value into list
* append()
   * It accepts only one value and append that value
   * as element of list.
   * It appends value at the last.
* extend()
   * It accepts multi values in the form of sequential
   * data type and insert these multi values as elements of list.
* insert()
   * we can insert elements at our required position

#### using append()

In [54]:
mlist = ["hello" , 89 , 23.5 , False , "world"]

In [55]:
type( mlist )

list

In [56]:
mlist.append(90)

In [57]:
mlist

['hello', 89, 23.5, False, 'world', 90]

In [58]:
mlist.append([45,67]) # it will not append as a individual element

In [59]:
mlist

['hello', 89, 23.5, False, 'world', 90, [45, 67]]

In [60]:
nlist1 = ["hello" , 89 , 23.5 ]

In [61]:
type( nlist1 )

list

#### using extend()

In [65]:
nlist1.extend([90,78])

In [66]:
nlist1

['hello', 89, 23.5, 90, 78]

In [69]:
nlist1

['hello', 89, 23.5, 90, 78]

In [73]:
nlist1.insert("apple") # it accepts 2 arguments , we have to give position as 1st argument and element as 2nd argument

TypeError: insert expected 2 arguments, got 1

#### using insert()

In [71]:
nlist1.insert(1,"apple")

In [77]:
nlist1

['hello', 'apple', 89, 23.5, 90, 78]

In [80]:
nlist1.insert( [1:4] , 100 ) # we cannotb give indexing and slicing as an argument in insert()

SyntaxError: invalid syntax (3308642028.py, line 1)

### State of ambiquity :
* list doesn't have a replace(), we cannot insert multiple elements as individual elements inside a insert() inorder to overcome this we use state of ambiquity.

In [88]:
color

['red', 'black', 'pink', 'yellow', 'orange']

In [89]:
color.insert(1,[100 , 56])

In [91]:
color # we cannot insert as a individual elements

['red', [100, 56], 'black', 'pink', 'yellow', 'orange']

In [94]:
color[ 4 : 4 :1] = ["sun","moon"] # state of ambiquity

In [96]:
print(color)

['red', [100, 56], 'black', 'pink', 'sun', 'moon', 'sun', 'moon', 'yellow', 'orange']

### Deletion of list :
* we can delete the elements of list using :
    * del
    * pop
    * remove

In [99]:
mlist

['hello', 89, 23.5, False, 'world', 90, [45, 67]]

In [100]:
del mlist[-1]

In [101]:
mlist

['hello', 89, 23.5, False, 'world', 90]

In [102]:
mlist.pop(2) # it accepts index value as an argument , and returns the deleted value , by default it deletes the last element

23.5

In [103]:
mlist

['hello', 89, False, 'world', 90]

In [104]:
mlist.remove(False) # it accepts element as an argument

In [105]:
mlist

['hello', 89, 'world', 90]

In [115]:
mlist[1 : 3] = "" # another way of deleting elements from list

In [116]:
mlist

['hello']

In [117]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [119]:
l1 = [10,20,30,4,5,3,2]

In [120]:
l1.index(10)

0

In [121]:
l1.sort() # ascending order

In [122]:
l1

[2, 3, 4, 5, 10, 20, 30]

In [123]:
l1.sort(reverse = True) # descending order

In [124]:
l1

[30, 20, 10, 5, 4, 3, 2]

In [125]:
l1.reverse() # reverse the elements

In [126]:
l1

[2, 3, 4, 5, 10, 20, 30]

In [127]:
l1.clear()

In [128]:
l1

[]

## List Comprehension :
* Very elegant way to define and create a list based on existing list or existing values.
* very fast in execution.

### List comprehension using for loop :

### Syntax :
    [ output expression    input sequence ]

In [12]:
# output expression --> the logic which generates the output.
# input sequence    --> source of input ( usually for loop ).

In [13]:
out = [i for i in range(1,8)]
print( out )

[1, 2, 3, 4, 5, 6, 7]

In [14]:
out1 = [ i*i for i in range(1,5) ]
print( out1 )

[1, 4, 9, 16]

### List comprehension with if condition :

### syntax :
    [ output expression  input sequence  condition ]

In [17]:
[ i  for i in range(1,11)  if i%2==0 ] # single if condition

[2, 4, 6, 8, 10]

In [19]:
[ x for x in range(1,20) if x%2==0 and x%3==0 ] # multiple if conditions

[6, 12, 18]

### List comprehension with if-else condition :

### syntax :
    [ output expression  if-else  input sequence ]

In [25]:
[ str(x)+" is even" if x%2==0 else str(x)+" is odd" for x in range(1,7) ]

['1 is odd', '2 is even', '3 is odd', '4 is even', '5 is odd', '6 is even']

## Table Range using List Comprehension

In [29]:
num = int(input("enter a table number : "))

for i in range(1,11):
    
    print( str(num) + " * " + str(i) + " == " + str(num*i) )

enter a table number : 2
2 * 1 == 2
2 * 2 == 4
2 * 3 == 6
2 * 4 == 8
2 * 5 == 10
2 * 6 == 12
2 * 7 == 14
2 * 8 == 16
2 * 9 == 18
2 * 10 == 20

In [30]:
num = int(input("enter a table number : "))

[ str(num) + " * " + str(i) + " == " + str(num*i) for i in range(1,11)]

enter a table number : 3

['3 * 1 == 3',
 '3 * 2 == 6',
 '3 * 3 == 9',
 '3 * 4 == 12',
 '3 * 5 == 15',
 '3 * 6 == 18',
 '3 * 7 == 21',
 '3 * 8 == 24',
 '3 * 9 == 27',
 '3 * 10 == 30']

In [31]:
# printing tables from 2 to given range

num = int(input("Enter a Number Range : "))


[str(x)+" * "+str(i)+" == "+str(x*i)   for x in range(2, num+1)  for i in range(1,11)   ]

Enter a Number Range : 4

['2 * 1 == 2',
 '2 * 2 == 4',
 '2 * 3 == 6',
 '2 * 4 == 8',
 '2 * 5 == 10',
 '2 * 6 == 12',
 '2 * 7 == 14',
 '2 * 8 == 16',
 '2 * 9 == 18',
 '2 * 10 == 20',
 '3 * 1 == 3',
 '3 * 2 == 6',
 '3 * 3 == 9',
 '3 * 4 == 12',
 '3 * 5 == 15',
 '3 * 6 == 18',
 '3 * 7 == 21',
 '3 * 8 == 24',
 '3 * 9 == 27',
 '3 * 10 == 30',
 '4 * 1 == 4',
 '4 * 2 == 8',
 '4 * 3 == 12',
 '4 * 4 == 16',
 '4 * 5 == 20',
 '4 * 6 == 24',
 '4 * 7 == 28',
 '4 * 8 == 32',
 '4 * 9 == 36',
 '4 * 10 == 40']

## Nested List Comprehension :
* best way to create a nested list.

### Syntax :
    [ [ output expression  input sequence ] input sequence ]

In [34]:
[[ i for i in range(1,5)]]

[[1, 2, 3, 4]]

In [35]:
[[ x for x in range(1,6) ] for i in range(1,4)]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

## Types of copy :
* Reference copy
* Shallow copy
* Deep copy

## Reference copy :
* Process of creating an instance in another variable and both are having same memory location.
* changes in one variable will reflect the another variable.

In [39]:
a1 = [10,20,30,40,50]

In [40]:
id(a1)

2478976417856

In [42]:
b1 = a1

In [43]:
id(b1)

2478976417856

In [44]:
a1.append(60)

In [45]:
a1

[10, 20, 30, 40, 50, 60]

In [46]:
b1

[10, 20, 30, 40, 50, 60]

In [47]:
del a1[0]

In [48]:
a1

[20, 30, 40, 50, 60]

In [49]:
b1

[20, 30, 40, 50, 60]

## Shallow Copy :
* it is a process of copying values from one memory location to another memory location.
* it is implemented using copy function.

In [51]:
m = [10,20,30,40,50]

In [52]:
id(m)

2478975501952

In [53]:
n = m.copy()

In [54]:
n

[10, 20, 30, 40, 50]

In [55]:
id( n )

2478975557056

In [56]:
m.append("sky")

In [57]:
m

[10, 20, 30, 40, 50, 'sky']

In [58]:
n

[10, 20, 30, 40, 50]

### Secong method of shallow copy

In [61]:
import copy

In [60]:
m

[10, 20, 30, 40, 50, 'sky']

In [62]:
p = copy.copy(m)

In [63]:
p

[10, 20, 30, 40, 50, 'sky']

In [64]:
id(m)

2478975501952

In [65]:
id(p)

2478976437120

In [66]:
x = [10,20,["A","B"],30,40,50]

In [67]:
id(x)

2478976436480

In [68]:
y = x.copy()

In [69]:
y

[10, 20, ['A', 'B'], 30, 40, 50]

In [70]:
x[2]

['A', 'B']

In [71]:
x[2].append("sky")

In [72]:
x

[10, 20, ['A', 'B', 'sky'], 30, 40, 50]

In [73]:
y

[10, 20, ['A', 'B', 'sky'], 30, 40, 50]

In [74]:
id(x)

2478976436480

In [75]:
id(y)

2478976437760

In [76]:
id(x[2])

2478975998784

In [77]:
id(y[2])

2478975998784

### problem of shallow copy :
* only nested lists having same memory location.

In [80]:
x

[10, 20, ['A', 'B', 'sky'], 30, 40, 50]

In [81]:
id(x)

2478976436480

In [82]:
id(x[2])

2478975998784

In [83]:
id(y[2])

2478975998784

## Deep copy :
* it is a process of copying values from one memory location to another memory location including nested list values.

In [84]:
s1 = [10, 20, ['A', 'B'], 30, 40, 50]

In [85]:
s1

[10, 20, ['A', 'B'], 30, 40, 50]

In [86]:
id( s1 )

2478976458496

In [87]:
s2 = copy.deepcopy(s1)

In [88]:
s2

[10, 20, ['A', 'B'], 30, 40, 50]

In [89]:
id(s2)

2478976440384

In [90]:
s1[2]

['A', 'B']

In [91]:
s1[2].append("C")

In [92]:
s1

[10, 20, ['A', 'B', 'C'], 30, 40, 50]

In [93]:
s2

[10, 20, ['A', 'B'], 30, 40, 50]

In [94]:
id(s1[2])

2478976457344

In [95]:
id(s2[2])

2478975218176

## Tuple :
* It is a sequential data type which holds multiple heterogenous values enclosed in ().
* list with some restrictions.

## Features of tuple :
* holds multiple heterogenous values
* immutable
* duplicates are allowed
* order is preserved
* indexing & slicing is possible
* nesting is possible

## Creation of tuple :
* we can create tuple in 2 ways
   * manual way
   * tuple()

In [100]:
tup1 = (100,200,300,400,500)

In [101]:
type(tup1)

tuple

In [102]:
t2 = "Apple",100,21.08,"Orange"

In [103]:
t2

('Apple', 100, 21.08, 'Orange')

In [104]:
type(t2)

tuple

In [105]:
l1 = ["hello" , True , 80 ,90]

In [106]:
type(l1)

list

In [107]:
tup3 = tuple(l1)

In [108]:
tup3

('hello', True, 80, 90)

In [109]:
type(tup3)

tuple

## Reading the data from tuple :
* we can read the elements in 3 ways
   * for loop
   * indexing
   * slicing

In [111]:
tup1

(100, 200, 300, 400, 500)

In [113]:
for i in tup1:
    print(i)

100
200
300
400
500

In [114]:
tup1[2]

300

In [115]:
tup1[-3]

300

In [117]:
t2

('Apple', 100, 21.08, 'Orange')

In [118]:
t2[ : ]

('Apple', 100, 21.08, 'Orange')

In [119]:
t2[2:4]

(21.08, 'Orange')

### Duplicate Values

In [121]:
t1 = ("Apple",100,21.08,"Orange", 100, "Apple")

In [122]:
t1

('Apple', 100, 21.08, 'Orange', 100, 'Apple')

In [123]:
type(t1)

tuple

### Nesting

In [125]:
tup4 = (10,20,("A","B","C"),30,40)

In [126]:
tup4

(10, 20, ('A', 'B', 'C'), 30, 40)

In [127]:
type( tup4 )

tuple

In [128]:
tup4[2]

('A', 'B', 'C')

## Updation and deletion :
* updating and deleting the elements are not possible because tuple is immutable.

In [133]:
print( dir(tuple) )

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [130]:
t2

('Apple', 100, 21.08, 'Orange')

In [132]:
t2.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [134]:
del t2[2]

TypeError: 'tuple' object doesn't support item deletion

In [135]:
del t2

In [136]:
t2

NameError: name 't2' is not defined

In [137]:
t1

('Apple', 100, 21.08, 'Orange', 100, 'Apple')

In [138]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'